*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(209, 209, 71);
    align-items: center;
    display: flex;
    justify-content: center;
}

#img{
    height: 400px;
    filter: drop-shadow(10px 10px 5px rgb(186, 175, 155));
}

.btn-container{
    margin: 100px;
    display: flex;
    justify-content: center;

}

.btn{
    width: 100px;
    height: 40px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#btn1{
    border-right: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    
    background-color: rgb(33, 25, 25);
    color: rgb(204, 204, 169);
    box-shadow: wheat;
}

#btn2{
    border-left: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(113, 108, 108);
    color: rgb(204, 204, 169);
    
}
